# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.classpath
*.project
*.prefs
bin/AndroidManifest.xml
*.dex
*.class
bin/res/crunch/drawable-hdpi/ic_launcher.png
*.apk
bin/res/crunch/drawable-ldpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/dpad_up.png
bin/res/crunch/drawable-mdpi/greenstar.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/yellowstar.png
bin/res/crunch/drawable-xhdpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/redstar.png
bin/resources.ap_
gen/cs175/hw4/snakes/BuildConfig.java
gen/cs175/hw4/snakes/R.java
project.properties
